In [7]:
import pandas as pd

import spacy

In [8]:
nlp = spacy.load("en_core_web_sm")

In [2]:
path = 'data/restaurants_laptop_train_with_pos.csv'

In [17]:
df = pd.read_csv(path)

In [18]:
df = df[df.pos != "PUNCT"]
df

          num     text    pos aspect_tag  polarity
0         s_1        I   PRON        NAT         0
1         s_1   charge   VERB        NAT         0
2         s_1       it   PRON        NAT         0
3         s_1       at    ADP        NAT         0
4         s_1    night   NOUN        NAT         0
...       ...      ...    ...        ...       ...
63226  s_3432      and  CCONJ        NAT         0
63227  s_3432     rice   NOUN         AT         0
63228  s_3432      and  CCONJ        NAT         0
63229  s_3432    glass   NOUN         AT         0
63230  s_3432  noodles   NOUN         AT         0

[56398 rows x 5 columns]

In [19]:
df = df[(df.pos != "NUM") | (df.aspect_tag == "AT")]
df

          num     text    pos aspect_tag  polarity
0         s_1        I   PRON        NAT         0
1         s_1   charge   VERB        NAT         0
2         s_1       it   PRON        NAT         0
3         s_1       at    ADP        NAT         0
4         s_1    night   NOUN        NAT         0
...       ...      ...    ...        ...       ...
63226  s_3432      and  CCONJ        NAT         0
63227  s_3432     rice   NOUN         AT         0
63228  s_3432      and  CCONJ        NAT         0
63229  s_3432    glass   NOUN         AT         0
63230  s_3432  noodles   NOUN         AT         0

[55758 rows x 5 columns]

In [23]:
df = df[(~df.text.str.contains(r"[0-9]+", regex=True)) | (df.aspect_tag == "AT")]
df

          num     text    pos aspect_tag  polarity
0         s_1        I   PRON        NAT         0
1         s_1   charge   VERB        NAT         0
2         s_1       it   PRON        NAT         0
3         s_1       at    ADP        NAT         0
4         s_1    night   NOUN        NAT         0
...       ...      ...    ...        ...       ...
63226  s_3432      and  CCONJ        NAT         0
63227  s_3432     rice   NOUN         AT         0
63228  s_3432      and  CCONJ        NAT         0
63229  s_3432    glass   NOUN         AT         0
63230  s_3432  noodles   NOUN         AT         0

[55707 rows x 5 columns]

In [27]:
df = df[(~df.text.str.contains(r"[!\"#$%&()*+,-./:;<=>?@[\]^_`{|}~]", regex=True)) | (df.aspect_tag == "AT")]
df

          num     text    pos aspect_tag  polarity
0         s_1        I   PRON        NAT         0
1         s_1   charge   VERB        NAT         0
2         s_1       it   PRON        NAT         0
3         s_1       at    ADP        NAT         0
4         s_1    night   NOUN        NAT         0
...       ...      ...    ...        ...       ...
63226  s_3432      and  CCONJ        NAT         0
63227  s_3432     rice   NOUN         AT         0
63228  s_3432      and  CCONJ        NAT         0
63229  s_3432    glass   NOUN         AT         0
63230  s_3432  noodles   NOUN         AT         0

[55479 rows x 5 columns]

In [28]:
df.to_csv('data/restaurants_laptop_train_with_pos_cleaned.csv', index=False)